<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h2>findById.html</h2>
    <table style="width: 50%;">
        <thead>
            <tr>
                <th>번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성시간</th>
                <th>수정시간</th>
                <th>수정</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th th:text="${boardDetailDTO.boardId}"></th>
                <th th:text="${boardDetailDTO.boardWriter}"></th>
                <th th:text="${boardDetailDTO.boardTitle}"></th>
                <th th:text="${boardDetailDTO.boardContent}"></th>
                <th th:text="${boardDetailDTO.createDateTime}"></th>
                <th th:text="${boardDetailDTO.updateDateTime}"></th>
                <th><a th:href="@{|/board/update/${boardDetailDTO.boardId}|}">수정페이지</a></th>
            </tr>
        </tbody>
    </table>
</body>

</html>