<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Board FindById</title>
    <style>
        table {
            border: 2px solid black;
            border-collapse: collapse;
            width: max-content;
            height: min-content;
            text-align: center;
        }

        th,
        td {
            border: 2px solid black;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h2>Board findById.html</h2>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Author</th>
                <th>Title</th>
                <th>Content</th>
                <th>Create DateTime</th>
                <th>Update DateTime</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th th:text="${boardDetailDTO.boardId}"></th>
                <th th:text="${boardDetailDTO.boardWriter}"></th>
                <th th:text="${boardDetailDTO.boardTitle}"></th>
                <th th:text="${boardDetailDTO.boardContent}"></th>
                <th th:text="${boardDetailDTO.createDateTime}"></th>
                <th th:text="${boardDetailDTO.updateDateTime}"></th>
                <th><a th:href="@{|/board/update/${boardDetailDTO.boardId}|}">Update Page</a></th>
            </tr>
        </tbody>
    </table>
</body>

</html>