<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Board Find All</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <style>
        table {
            border: 2px solid black;
            border-collapse: collapse;
            width: max-content;
            height: min-content;
            text-align: center;
        }

        th,
        td {
            border: 2px solid black;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h2>Board findAll.html</h2>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Author</th>
                <th>Title</th>
                <th>Create DateTime</th>
                <th>Update DateTime</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board:${boardList}">
                <td th:text="${board.boardId}"></td>
                <td th:text="${board.boardWriter}"></td>
                <td>
                    <a th:href="@{|/board/${board.boardId}|}">
                        <span th:text="${board.boardTitle}"></span>
                        <!-- 제목 클릭하면 상세조회화면(findById.html) 출력 -->
                    </a>
                </td>
                <td th:text="${board.createDateTime}"></td>
                <td th:text="${board.updateDateTime}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>