<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Member FindAll</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
        table {
            border: 2px solid black;
            border-collapse: collapse;
            width: min-content;
            height: min-content;
            text-align: center;
        }

        th,
        td {
            border: 2px solid black;
            padding: 8px;
        }
    </style>
</head>
<script>
    function deleteById2(memberId) {
        console.log(memberId)
        const reqUrl = "/member/" + memberId
        $.ajax({
            type: "delete",
            url: reqUrl,
            // dataType: "json", 받아올 필요가 없으면 생략가능
            success: function (res) {
                console.log("ajax 성공", res)
                // 삭제 성공 시 회원목록 페이지를 다시 요청
                location.href = "/member/login"
            },
            error: function (err) {
                alert("", err)
            }
        })
    }
</script>

<body>
    <h2>Member findAll.html</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Name</th>
                <th>View</th>
                <th>Delete(delete)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member: ${memberList}">
                <td th:text="${member.memberId}">Id</td>
                <td th:text="${member.memberEmail}">Email</td>
                <td th:text="${member.memberPassword}">Password</td>
                <td th:text="${member.memberName}">Name</td>
                <!-- detail 주소 처리방식 @{|/주소/${같이 보낼 데이터}|} -->
                <td><a th:href="@{|/member/${member.memberId}|}">View</a></td>
                <!-- <td><a th:href="@{|/member/delete/${member.memberId}|}">삭제</a></td> -->
                <!-- 삭제 버튼 클릭 시 delete 함수 호출 -->
                <!-- 함수호출하면서 memeberId 넘겨야함 -->
                <!-- delete 함수() : /member/memberId 주소로 요청하며, 요청 메서드는 delete -->
                <td><button th:onclick="deleteById2([[${member.memberId}]])">Delete</button></td>
            </tr>
        </tbody>
    </table>
</body>

</html>