<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Member FindAll</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<script>
    function deleteById2(memberId) {
        console.log(memberId)
        const reqUrl = "/member/" + memberId
        $.ajax({
            type: "delete",
            url: reqUrl,
            // dataType: "json", 받아올 필요가 없으면 생략가능
            success: function (res) {
                console.log("ajax 성공", res)
                // 삭제 성공 시 회원목록 페이지를 다시 요청
                location.href = "/member/"
            },
            error: function (err) {
                alert("ajax 실패", err)
            }

        })
    }

    // 아래도 함수선언 방법 중 하나임.
    // 함수이름 : deleteFn, 매개변수 : memberId
    const deleteFn = (memberId) => {
        console.log(memberId)
    }

    // 함수이름 : deleteFn2, 매개변수 : X
    const deleteFn2 = () => {

    }
</script>

<body>
    <h2>Member findAll.html</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Name</th>
                <th>Inquire</th>
                <th>Delete(get)</th>
                <!-- 이번 시간에는 아래 delete 방식으로 보내는걸 사용하는겁니다. -->
                <th>Delete(delete)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member: ${memberList}">
                <td th:text="${member.memberId}">번호</td>
                <td th:text="${member.memberEmail}">이메일</td>
                <td th:text="${member.memberPassword}">비밀번호</td>
                <td th:text="${member.memberName}">이름</td>
                <!-- detail 주소 처리방식 @{|/주소/${같이 보낼 데이터}|} -->
                <td><a th:href="@{|/member/${member.memberId}|}">조회</a></td>
                <td><a th:href="@{|/member/delete/${member.memberId}|}">삭제</a></td>
                <!-- 삭제 버튼 클릭 시 delete 함수 호출 -->
                <!-- 함수호출하면서 memeberId 넘겨야함 -->
                <!-- delelte 함수() : /member/memberId 주소로 요청하며, 요청 메서드는 delete -->
                <td><button th:onclick="deleteById2([[${member.memberId}]])">삭제</button></td>
            </tr>
        </tbody>
    </table>
</body>

</html>