<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Member FindById</title>
    <style>
        table {
            border: 2px solid black;
            border-collapse: collapse;
            width: min-content;
            height: min-content;
            text-align: center;
        }

        th,
        td {
            border: 2px solid black;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h2>Member findById.html</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${member.memberId}"></td>
                <td th:text="${member.memberEmail}"></td>
                <td th:text="${member.memberPassword}"></td>
                <td th:text="${member.memberName}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>