<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>signup</title>
    </head>
    <body>
        <h1>Sign Up Page</h1>
        <form action="/member/signup" method="post">
            email: <input type="text" name="memberEmail" placeholder="email"> <br>
            password: <input type="password" name="memberPassword" placeholder="password"> <br>
            name: <input type="text" name="memberName" placeholder="name"> <br>
            <input type="submit" value="SignUp">
        </form>
    </body>
</html>